body{
    background: hsl(222, 26%, 31%);
}
.container{
    background: hsl(223, 31%, 20%);
    width: 300px;
    height: 350px;
    
}
input.form-control {
    background: hsl(224, 36%, 15%) !important;
    color:  hsl(0, 0%, 100% ); 
    border: none; 
    outline: none; 
    font-size: 32px; }
    

.container .btn-primary {
    background-color: hsl(220, 27%, 96%);
    color: hsl(221, 14%, 31%);
    border: none;
    box-shadow: 0px 4px hsl(220, 27%, 96%);
    transition: background-color 0.2s, box-shadow 0.2s;
}

.container .btn-primary:hover {
    background-color: hsl(221, 10%, 69%);
    box-shadow: 0px 2px hsl(221, 10%, 69%);
}


.container .btn-secondary {
    background-color: hsl(225, 21%, 49%);
    color: hsl(0, 0%, 100%);
    border: none;
    box-shadow: 0px 4px hsl(225, 21%, 49%);
    transition: background-color 0.2s, box-shadow 0.2s;
}

.container .btn-secondary:hover {
    background-color:  hsl(224, 
    28%, 35%);
    box-shadow: 0px 2px  hsl(224, 
    28%, 35%);
}


.container .btn-success {
    background-color: hsl(6, 63%, 50%);
    color: hsl(0, 0%, 100%);
    border: none;
    box-shadow: 0px 4px hsl(6, 70%, 34%);
    transition: background-color 0.2s, box-shadow 0.2s;
}

.container .btn-success:hover {
    background-color: hsl(6, 70%, 34%);
    box-shadow: 0px 2px hsl(6, 70%, 34%);
}
